header {
    background-image: url(files/img/base.png);
    height: 100vh;
    position: relative;
}
.ouch {
    width: 796px;
    object-fit: cover;
}
.imgblock {
    position: absolute;
    top: 201px;
    right: 49px;
    max-width: 796;
}
.menu {
    display: flex;
    min-height: 62px;
    padding-top: 39px;
    padding-left: 130px;
    padding-right: 130px;

}
.navmen {
    display: flex;
    gap: 15px;
    list-style-type: none;
}
.logo {
    max-width: fit-content;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
