@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    text-decoration: none;
    color: black;
}

header {
    background-image: url(files/img/base.png);
}
.ouch {
    width: 1152px;
}
.imgblock {
    position: absolute;
    top: 201px;
    right: 49px;
    max-width: 1152px;
    bottom: 61px;
}
.menu {
    display: flex;
    min-height: 62px;
    padding-top: 39px;
    
    padding-right: 130px;
    justify-content: space-between;

}
.navmen {
    display: flex;
    gap: 15px;
    list-style-type: none;
}
.logo {
    max-width: fit-content;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.rightpart {
    display: flex;
}
.navmen > li {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.logoContents > p {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.headerButton {
    width: 160px;
    margin-left: 75px;
    height: 48px;
    background-color: #3040C4;
    border-radius: 5px;
    font-family: 'Work Sans';
    color: white;
    border: 0px;
}
.maintext1, .maintext2 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 80px;
}
.logoText1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.undertext {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}
.buttons {
    display: flex; 
}

.textholder {
    max-width: 586px;
    z-index: 1;
}
.button1, .button2 {
    width: 160px;
    height: 48px;
}
.button1 {
    font-family: 'Work Sans';
    background-color: #3040C4;
    border-radius: 5px;
    color: white;
    border: 0px;
    padding-right: 10px;
}
.button2 {
    font-family: 'Work Sans';
    background-color: white;
    border-radius: 5px;
    color: #3040C4;
    border: 0px;
}

.maincontent1 {
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.maincontent1 .container {
    margin-left: 130px;
    max-width: 645px;
}

.maincontent1_items {
    position: relative;
    z-index: 1;
}