.top {
    background-color: bisque;
    margin: 0;
    height: 50px;
    text-align: center;
}
.para {
    margin: 0;
}
body {
    background-image: url(https://getwallpapers.com/wallpaper/full/f/e/5/1401151-best-maroon-colour-background-2880x1800-for-iphone-5.jpg);
}

.hclothing, .hhead,
.heyes, .hmouth, .hnose, .hbody {
    position: absolute;
}
.pizduk1 {
    position: relative;
    background-image: url('./img/square.png');
}
.hbody {
    left: 1px;
    top: 12px;
}

.hclothing {
    left: 1px;
    bottom: -332px;
}

.hhead {
    top: 8px;
    left: 42px;
}

.heyes {
    top: 80px;
    left: 110px;
}

.hmouth {
    top: 135px;
    left: 120px;
}

.hnose {
    top: 85px;
    left: 145px;
}
