.top {
    background-color: bisque;
    margin: 0;
    height: 50px;
    text-align: center;
}
.para {
    margin: 0;
}
body {
    background-image: url(https://getwallpapers.com/wallpaper/full/f/e/5/1401151-best-maroon-colour-background-2880x1800-for-iphone-5.jpg);
}
.hclothing {
    transform: translate(-164px, 0px);
}
.hhead {
    transform: translate(-338px, 0px);
}
.hmouth {
    transform: translate(-452px, -37px);
}
.heyes {
    transform: translate(-501px, -74px);
}
.hnose {
    transform: translate(-538px, -63px)
}
.sthoodie {transform: translate(-165px, 3px);}
.stcap {transform: translate(-341px, 8px);}
.steyes {transform: translate(-462px, -75px);}
.stnose {transform: translate(-500px, -64px);}
