

.hclothing, .hhead,
.heyes, .hmouth, .hnose, .h1head, .hbeard, .h21head {
    position: absolute;
}
.pizduk1 {
    position: relative;
    background-color: aqua;
    margin-bottom: 50px;
    width: max-content;
}
.hclothing {
    top: 205px;
    left: 0px;
}
.hhead {
    top: -5px;
    left: 42px;
}
.heyes {
    top: 70px;
    left: 110px;
}
.hmouth {
    top: 131px;
    left: 119px;
}
.hnose {
    top: 81px;
    left: 144px;
}
.h1head {
    top: -70px;
    left: -20px;
}
.hbeard {
    top: 109px;
    left: 70px;
}
.h21head {
    width: 300px;
}