* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://www.wallpaperflare.com/static/128/942/557/nature-mountains-clouds-snow-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

header {
    min-height: 60px;
    background-color: white;
    display: flex;
}

header .container {
    margin: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

.shit {
    background-color: antiquewhite;
    font-size: large;
    width: 100vh;
    margin: 0 auto;

}

h1 {
    text-align: center;
}
img {
    width: 75%;
    margin: 0 auto;
}
a:hover
{
    color:rgb(127, 203, 211);
    text-decoration: underline;
}
footer {
    min-height: 60px;
    background-color: white;
    display: flex;

}
.image > img{
    display: block;
    height: 350px;
    width: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 25vh;
}
.image {
    min-height: 87.5vh;
}
footer > a {
    margin: auto;
}
.inside > p {
    text-align: center;
}

.image {
    display: flex;
}

.block {
    width: 100px;
    height: 100px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block1 {
    background-color: aqua;
    height: 150px;
}

.block2 {
    background-color: chartreuse;
}

.block3 {
    background-color: blue;
}

.block4 {
    background-color: white;
}

.block5 {
    background-color: brown;
}