@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Overlock+SC&family=Work+Sans:wght@100&display=swap');



h1, h2, h3, h4, p {
    margin: 0;
    filter: blur(0.5px);
}
body {
    background-image: url(source/oldfashioncar1.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
.container {
    margin-left: 25px;
    margin-right: 25px;
}
.class {
    background-color: rgb(102, 85, 85);
    background-image: url(source/carsinchain.png);
    background-size:  cover;
    text-align: center;
}
.class_content {
    padding-bottom: 35px;
}
.class H2 {
    color: #fff;
    font-size: 75px;
    font-family: 'Roboto Condensed';
    padding-top: 80px;
    padding-bottom: 25px;
}
.carscom {
    padding-top: 75px;
}
.classimg {
    padding-top: 70px;
}
.cars_text {
    font-family: 'Overlock SC';
    font-size: 75px;
    width: fit-content;
    color: #fff;
    padding-left: 8%;
    margin: 0 auto;
}
.H1_CLASS {
    color: #fff;
    font-family: 'Roboto Condensed';
    text-align: center;
    font-size: 155px;
    margin: 0;
}
.get_in {
    margin: 0 auto;
    width: 290px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(0, 0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 40px;
    color: #fff;
}
.get_in:hover {
    cursor: pointer;
}
.clients H3 {
    text-align: center;
    font-size: 60px;
    padding-top: 95px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
}
.comments {
    margin-top: 195px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.comment1 {
    text-align: center;
    border-radius: 20px;
    background-image: url(source/carrfront.png);
    background-size: cover;
    position: relative;
}
.comment1 p{
    width: 453px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    margin: 0 auto;
    line-height: 25px;
    padding-top: 120px;
    padding-bottom: 50px;
    padding-left: 90px;
    padding-right: 90px;
}
.comment1 h4{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 31px;
    color: #fff;
    padding-bottom: 75px;
}
.comment2 {
    text-align: center;
    background-image: url(source/carrfront.png);
    background-size: cover;
    border-radius: 20px;
    position: relative;
}
.comment2 p{
    padding-top: 170px;
    padding-bottom: 50px;
    width: 329px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    margin: 0 auto;
    line-height: 25px;
    padding-left: 180px;
    padding-right: 180px;
}
.comment2 h4{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 31px;
    color: #fff;
    padding-bottom: 75px;
}
.oldbeard {
    position: absolute;
    top: -85px;
    right: 270px;
}
.youngman {
    position: absolute;
    right: 250px;
    top: -70px;
}
.oldman, .woman {
    height: fit-content
}
.woman {
    padding-bottom: 30px;
}
.oldman {
    padding-bottom: 30px;
}
.newsletter {
    text-align: center;
    background-image: url(source/carlight.png);
    background-size: cover;
    margin-top: 115px;
}
.newsletter h2{
    padding-top: 120px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 70px;
    color: #fff;
    padding-bottom: 85px;
}
.subscribe {
    justify-content: center;
    display: flex;
    padding-bottom: 160px;
}
.sub1 {
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub1 a {
    color: #fff;
    font-size: 35px;
    padding: 15px;
    padding-left: 185px;
    padding-right: 185px;
}
.sub2 {
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    background-color: #fff;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub2 p {
    padding-left: 30px;
    padding-right: 30px;
}
.sub2:hover {
    cursor: pointer;
}
.insta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
}
.inst_content {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 70px;
}
.inst {
    height: 85px; width: 85px;
    padding-left: 30px;
}
.inst:hover {
    cursor: pointer;
}
.cars {
    
}
.impaller, .maclaren, .lowrider, .MetalGear, .Monarch, .mercedes {
    width: 33%;
}
.contacts {
    background-image: url(source/carlight.png);
    background-size: cover;
    
}
.logos {
    display: flex;
    justify-content: center;
    padding-bottom: 85px;
}
.logos img:hover {
    cursor: pointer;
}
.US {
    padding-top: 50px;
    padding-left: 180px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}
.US a {
    text-decoration: none;
    color: #fff;
    padding-right: 15px;
}
.US a:hover {
    cursor: pointer;
}
.instalogo {
    padding-left: 20px;
    padding-right: 20px;
}