body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/22531798033077.5ed3061498480.jpg');
    min-height: 100vh;
    display: flex;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: auto;
}

input {
    padding-left: 5px;
}

.items {
    padding: 50px;
}

.form {
    background-color: rgb(255, 255, 255);
}
