body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://sportishka.com/uploads/posts/2022-04/thumbs/1650668932_15-sportishka-com-p-los-andzheles-shtat-kaliforniya-krasivo-fo-17.jpg');
    min-height: 100vh;
    display: flex;
}
.container {
    background-color: rgb(120, 231, 231);
    width: 1300px;
    margin: 0 auto;   
}
input {
    padding-left: 5px;
}
input{
    width: 70%;
    height: 30%;
    padding-top: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

h1 {
    text-align: center;
}

label, p {
    text-align: center;
    display: block;
}

.info {
    width: 70%;
    margin: auto;
}

.pipa {
    size: 25vh;
}
