* {
    margin: 0;
    box-sizing: border-box;
}

.fon {
    display: flex;
    min-height: 100vh;
    background: url("./img/fon.jpg") no-repeat center / cover;
}

input {
    display: block;
    width: 100%;
    border-radius: 30px;
    border: 0;
}

input::placeholder {
    padding-left: 5px;
}

#block {
    margin: auto;
}
