.table, table tr, table td{
    border: 1px solid #000;
    border-collapse: collapse;
}
.table td {
    padding: 5px;
}
.table {
    margin-left: auto;
    margin-right: auto;
}
.ozenki {
    width: 105px;
    text-align: center;
}
.item3 {
    text-align: center;
    background-color: rgb(0, 255, 115);
}
.item1 {
    text-align: center;
    background-color: rgb(0, 255, 115);
}
.item2 {
    text-align: center;
    background-color: rgb(0, 255, 115);
}
.itogo {
    text-align: end;
}
.tr1 {
    background-color: rgb(123, 148, 249);
}

.class:nth-child(1n) {

}

.class:hover {

}

.div1, .div2 {
    width: 100px;
    height: 100px;
    color: wheat;
}

.parentDiv {
    display: flex;
}

.div1 {
    background-color: red;
    margin-bottom: 30px;
    display: table-cell;
    vertical-align: bottom;
    margin: auto;
}

.div2 {
    background-color: black;
    word-break: break-all;
    overflow-x:hidden;
    display: inline-block;
}

td {
    height: 50px;
}