@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100&display=swap');
h1, h2, h3, p {
    font-family: "Inter";
}
.headblock {
    background-image: url(images-and-other/Cover.png);
}
.all {
    display: grid;
    grid-template-rows: 350px 325px;
    margin: 0 auto;
    max-width: 698px;
    border: solid;
    border-width: 5px;
    border-color: black;
}
section div{
    display: grid;
    
}
.features {
    margin-left: 65px;
    margin-top: 57px;
}
.features h1 {
    font-weight: 700;
    Font-size: 64px;
    Line-height: 88px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.features p {
    margin-top: 55px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    max-width: 576px;
}
.start h2 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 45px;
}
.start h3 {
    max-width: 333px;
    max-height: 108px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}
.start {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
}
.text1 {
    grid-column-start: 1;
}
.start p{
    margin-top: 7px;
    max-width: 347px;
    max-height: 87px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.text2 h3 {
    max-width: 333px;
    height: 54px;
    font-weight: 700;
    font-size: 36px;
}
.text2 p{
    margin-top: 10px;
    max-width: 333px;
    height: 87px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.maincontent {
    margin-left: 65px;
}
.text3 h3{
    max-width: 333px;
    height: 108px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}
.text3 p{
    margin-top: 15px;
    max-width: 333px;
    height: 87px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.last h2 {
    width: 572px;
    height: 72px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    margin-bottom: 50px;
}
.last {
    margin-top: 10px;
    margin-bottom: 120px;
}
.move {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
}
.first {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
}
.frame1, .frame2, .frame3 {
    margin-left: 25px!important;
}
a {
    width: 480px;
    height: 112px;
}